{#
This is a default navbar that is shown in the public pages
#}

<header class="app-header navbar">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-3">
            <a class="nav-link" href="https://github.com/Tekorius/URL-Shortener" target="_blank">
                <i class="fa fa-github"></i>
                <span>Source</span>
            </a>
        </li>
    </ul>
</header>