{% extends 'public.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
            <div class="card">
                <h1 class="card-header" style="font-weight: 400; line-height: normal; font-size: 1em">
                    Shorten your URL
                </h1>
                <div class="card-body">
                    {{ form_start(form) }}
                    {# URL Shortener #}
                    {% if form.short is defined %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">https://ryt.is/</span>
                                {{ form_widget(form.short) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="input-group">
                            {{ form_widget(form.full) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Shorten!</button>
                            </span>
                        </div>
                    </div>
                    {{ form_end(form) }}

                    {# Social Links #}
                    <ul class="social-links-big">
                        <li>
                            <a href="https://github.com/Tekorius/URL-Shortener"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rytistekorius/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                    {# Description #}
                    <h2 class="text-center" style="font-size: 1.3em">What is this?</h2>

                    <p>
                        ryt.is URL shortener is an open source project developed by
                        <a href="https://tekorius.com" target="_blank">Rytis Tekorius</a> and based on Symfony 3.4 framework.
                    </p>
                    <p>Nothing too fancy here (yet), just paste your URL and receive a short URL</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
