{% extends 'base.html.twig' %}

{% block body_class %}app flex-row align-items-center{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <h1>Login</h1>
                    <p class="text-muted">You can sign in, but you probably don't have an account</p>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-addon">
                                <i class="fa fa-fw fa-user"></i>
                            </span>
                            <input type="email"
                                   placeholder="Email"
                                   class="form-control"
                                   name="_username"
                                   value="{{ last_username }}">
                        </div>

                        <div class="input-group mb-4">
                            <span class="input-group-addon">
                                <i class="fa fa-fw fa-lock"></i>
                            </span>
                            <input type="password"
                                   placeholder="Password"
                                   class="form-control"
                                   name="_password">
                        </div>

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit"
                                class="btn btn-primary px-4"
                        >Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}